In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import zipfile

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nyc-taxi-trip-duration/train.zip
/kaggle/input/nyc-taxi-trip-duration/test.zip
/kaggle/input/nyc-taxi-trip-duration/sample_submission.zip

In [2]:
zf_train = zipfile.ZipFile('../input/nyc-taxi-trip-duration/train.zip')
nyc_data = pd.read_csv(zf_train.open('train.csv'))

zf_test = zipfile.ZipFile('../input/nyc-taxi-trip-duration/test.zip')
test = pd.read_csv(zf_test.open('test.csv'))

In [3]:
nyc_data.shape

(1458644, 11)

In [4]:
nyc_data.head(5)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [5]:
nyc_data.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration'],
      dtype='object')

In [6]:
nyc_data.info

<bound method DataFrame.info of                 id  vendor_id      pickup_datetime     dropoff_datetime  \
0        id2875421          2  2016-03-14 17:24:55  2016-03-14 17:32:30
1        id2377394          1  2016-06-12 00:43:35  2016-06-12 00:54:38
2        id3858529          2  2016-01-19 11:35:24  2016-01-19 12:10:48
3        id3504673          2  2016-04-06 19:32:31  2016-04-06 19:39:40
4        id2181028          2  2016-03-26 13:30:55  2016-03-26 13:38:10
...            ...        ...                  ...                  ...
1458639  id2376096          2  2016-04-08 13:31:04  2016-04-08 13:44:02
1458640  id1049543          1  2016-01-10 07:35:15  2016-01-10 07:46:10
1458641  id2304944          2  2016-04-22 06:57:41  2016-04-22 07:10:25
1458642  id2714485          1  2016-01-05 15:56:26  2016-01-05 16:02:39
1458643  id1209952          1  2016-04-05 14:44:25  2016-04-05 14:47:43

         passenger_count  pickup_longitude  pickup_latitude  \
0                      1        -73.982155        40.767937
1                      1        -73.980415        40.738564
2                      1        -73.979027        40.763939
3                      1        -74.010040        40.719971
4                      1        -73.973053        40.793209
...                  ...               ...              ...
1458639                4        -73.982201        40.745522
1458640                1        -74.000946        40.747379
1458641                1        -73.959129        40.768799
1458642                1        -73.982079        40.749062
1458643                1        -73.979538        40.781750

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  trip_duration
0               -73.964630         40.765602                  N            455
1               -73.999481         40.731152                  N            663
2               -74.005333         40.710087                  N           2124
3               -74.012268         40.706718                  N            429
4               -73.972923         40.782520                  N            435
...                    ...               ...                ...            ...
1458639         -73.994911         40.740170                  N            778
1458640         -73.970184         40.796547                  N            655
1458641         -74.004433         40.707371                  N            764
1458642         -73.974632         40.757107                  N            373
1458643         -73.972809         40.790585                  N            198

[1458644 rows x 11 columns]>