In [134]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nyc-taxi-trip-duration/train.zip
/kaggle/input/nyc-taxi-trip-duration/test.zip
/kaggle/input/nyc-taxi-trip-duration/sample_submission.zip

In [135]:
# import libraries: 

# To display plots directly in the notebook:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('fivethirtyeight')
plt.rcParams['figure.figsize'] = (8.5, 5)
plt.rcParams["patch.force_edgecolor"] = True
pd.set_option('display.float_format', lambda x: '%.3f' % x)
sns.mpl.rc("figure", figsize=(8.5,5))

import sklearn
import seaborn as sns
import zipfile
from sklearn.cluster import KMeans
import folium
from folium import plugins
from folium.plugins import HeatMap
import matplotlib.mlab as mlab
import warnings
warnings.filterwarnings("ignore")

In [136]:
# To make the notebook reproducible
seed = 42
np.random.seed(seed)

In [137]:

# Read data
train_data = pd.read_csv('../input/nyc-taxi-trip-duration/train.zip')

# View data
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982,40.768,-73.965,40.766,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980,40.739,-73.999,40.731,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979,40.764,-74.005,40.710,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010,40.720,-74.012,40.707,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973,40.793,-73.973,40.783,N,435

In [138]:
# Statistical summary
train_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
vendor_id,1458644.000,1.535,0.499,1.000,1.000,2.000,2.000,2.000
passenger_count,1458644.000,1.665,1.314,0.000,1.000,1.000,2.000,9.000
pickup_longitude,1458644.000,-73.973,0.071,-121.933,-73.992,-73.982,-73.967,-61.336
pickup_latitude,1458644.000,40.751,0.033,34.360,40.737,40.754,40.768,51.881
dropoff_longitude,1458644.000,-73.973,0.071,-121.933,-73.991,-73.980,-73.963,-61.336
dropoff_latitude,1458644.000,40.752,0.036,32.181,40.736,40.755,40.770,43.921
trip_duration,1458644.000,959.492,5237.432,1.000,397.000,662.000,1075.000,3526282.000

In [139]:
# Data Shape
print('Data Shape',train_data.shape)
train_data.info

Data Shape (1458644, 11)

<bound method DataFrame.info of                 id  vendor_id      pickup_datetime     dropoff_datetime  \
0        id2875421          2  2016-03-14 17:24:55  2016-03-14 17:32:30
1        id2377394          1  2016-06-12 00:43:35  2016-06-12 00:54:38
2        id3858529          2  2016-01-19 11:35:24  2016-01-19 12:10:48
3        id3504673          2  2016-04-06 19:32:31  2016-04-06 19:39:40
4        id2181028          2  2016-03-26 13:30:55  2016-03-26 13:38:10
...            ...        ...                  ...                  ...
1458639  id2376096          2  2016-04-08 13:31:04  2016-04-08 13:44:02
1458640  id1049543          1  2016-01-10 07:35:15  2016-01-10 07:46:10
1458641  id2304944          2  2016-04-22 06:57:41  2016-04-22 07:10:25
1458642  id2714485          1  2016-01-05 15:56:26  2016-01-05 16:02:39
1458643  id1209952          1  2016-04-05 14:44:25  2016-04-05 14:47:43

         passenger_count  pickup_longitude  pickup_latitude  \
0                      1           -73.982           40.768
1                      1           -73.980           40.739
2                      1           -73.979           40.764
3                      1           -74.010           40.720
4                      1           -73.973           40.793
...                  ...               ...              ...
1458639                4           -73.982           40.746
1458640                1           -74.001           40.747
1458641                1           -73.959           40.769
1458642                1           -73.982           40.749
1458643                1           -73.980           40.782

         dropoff_longitude  dropoff_latitude store_and_fwd_flag  trip_duration
0                  -73.965            40.766                  N            455
1                  -73.999            40.731                  N            663
2                  -74.005            40.710                  N           2124
3                  -74.012            40.707                  N            429
4                  -73.973            40.783                  N            435
...                    ...               ...                ...            ...
1458639            -73.995            40.740                  N            778
1458640            -73.970            40.797                  N            655
1458641            -74.004            40.707                  N            764
1458642            -73.975            40.757                  N            373
1458643            -73.973            40.791                  N            198

[1458644 rows x 11 columns]>

In [140]:
##  deleting outliers 
train_data = train_data[train_data['passenger_count']>0]
train_data = train_data[train_data['passenger_count']<9]

# Remove trip_duration outliers
trip_duration_mean = np.mean(train_data['trip_duration'])
trip_duration_std = np.std(train_data['trip_duration'])
train_data = train_data[train_data['trip_duration']<=trip_duration_mean + 2*trip_duration_std]
train_data = train_data[train_data['trip_duration']>= trip_duration_mean - 2*trip_duration_std]

# Confirm removal
train_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
vendor_id,1456480.000,1.534,0.499,1.000,1.000,2.000,2.000,2.000
passenger_count,1456480.000,1.664,1.314,1.000,1.000,1.000,2.000,8.000
pickup_longitude,1456480.000,-73.973,0.071,-121.933,-73.992,-73.982,-73.967,-61.336
pickup_latitude,1456480.000,40.751,0.033,34.360,40.737,40.754,40.768,51.881
dropoff_longitude,1456480.000,-73.973,0.071,-121.933,-73.991,-73.980,-73.963,-61.336
dropoff_latitude,1456480.000,40.752,0.036,32.181,40.736,40.755,40.770,43.921
trip_duration,1456480.000,836.880,658.920,1.000,397.000,662.000,1073.000,11411.000

In [141]:
# Convert timestamps to date objects
train_data['pickup_datetime'] = pd.to_datetime(train_data.pickup_datetime) # Pickups
train_data['dropoff_datetime'] = pd.to_datetime(train_data.dropoff_datetime) # Drop-offs

# Confirm changes
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456480 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1456480 non-null  object
 1   vendor_id           1456480 non-null  int64
 2   pickup_datetime     1456480 non-null  datetime64[ns]
 3   dropoff_datetime    1456480 non-null  datetime64[ns]
 4   passenger_count     1456480 non-null  int64
 5   pickup_longitude    1456480 non-null  float64
 6   pickup_latitude     1456480 non-null  float64
 7   dropoff_longitude   1456480 non-null  float64
 8   dropoff_latitude    1456480 non-null  float64
 9   store_and_fwd_flag  1456480 non-null  object
 10  trip_duration       1456480 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(2)
memory usage: 133.3+ MB

In [142]:
# feature engineering

# Delimit pickup_datetime variable 
train_data['pickup_date'] = train_data['pickup_datetime'].dt.date # Extract date
train_data['pickup_time'] = train_data['pickup_datetime'].dt.time # Extract time

# Delimit dropoff_datetime variables
train_data['dropoff_date'] = train_data['dropoff_datetime'].dt.date # Extract date
train_data['dropoff_time'] = train_data['dropoff_datetime'].dt.time # Extract time

# Additional pickup features
train_data['pickup_month'] = train_data['pickup_datetime'].dt.month # Extract month
# train_data['pickup_month'] = train_data.pickup_datetime.dt.to_period('M') # Extract yearmonth
#train_data['pickup_YYYYMM'] = train_data['pickup_datetime'].apply(lambda x: x.strftime('%Y%m')) # Extract yearmonth
train_data['pickup_hour'] = train_data['pickup_datetime'].dt.hour # Extract hour
train_data['pickup_weekday'] = train_data['pickup_datetime'].dt.dayofweek # Extract day of week

# Drop concatentated timestamp columns
train_data.drop(['pickup_datetime'], axis = 1, inplace = True)
train_data.drop(['dropoff_datetime'], axis = 1, inplace = True)

# Confirm changes
train_data.columns

Index(['id', 'vendor_id', 'passenger_count', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'store_and_fwd_flag', 'trip_duration', 'pickup_date', 'pickup_time',
       'dropoff_date', 'dropoff_time', 'pickup_month', 'pickup_hour',
       'pickup_weekday'],
      dtype='object')

In [143]:
# Feature names
train_data.columns

Index(['id', 'vendor_id', 'passenger_count', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'store_and_fwd_flag', 'trip_duration', 'pickup_date', 'pickup_time',
       'dropoff_date', 'dropoff_time', 'pickup_month', 'pickup_hour',
       'pickup_weekday'],
      dtype='object')

In [144]:
# Identify where drop occured
train_data.groupby('pickup_date').count()['id'].sort_values(ascending = True)[[0]]

pickup_date
2016-01-23    1644
Name: id, dtype: int64

# was a big storm day in usa - later remove this data

In [145]:
# PASSENGER COUNT

In [146]:
train_data.drop(['pickup_date','pickup_time','dropoff_date', 'dropoff_time','id'], 
                axis = 1, inplace = True)

In [147]:
# Split
# Create matrix of features
X = train_data[['vendor_id', 'passenger_count', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'pickup_month', 'pickup_hour',
       'pickup_weekday']] # double brackets!

# Create array of target variable 
y = train_data['trip_duration']

# Create train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [148]:
#  Import model
from sklearn.linear_model import LinearRegression

#  Instantiate model object
lreg = LinearRegression()

# Fit to training data
lreg.fit(X_train,y_train)
print(lreg)

# Predict
y_pred_lreg = lreg.predict(X_test)

# Score It
from sklearn import metrics
print('\nLinear Regression Performance Metrics')
print('R^2=',metrics.explained_variance_score(y_test,y_pred_lreg))
print('MAE:',metrics.mean_absolute_error(y_test,y_pred_lreg))
print('MSE:',metrics.mean_squared_error(y_test,y_pred_lreg))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,y_pred_lreg)))

LinearRegression()

Linear Regression Performance Metrics
R^2= 0.05929918405696022
MAE: 442.8788903361641
MSE: 412420.6709945873
RMSE: 642.199868416825

In [149]:
# Fit
# Import model
from sklearn.tree import DecisionTreeRegressor

# Instantiate model object
dtree = DecisionTreeRegressor()

# Fit to training data
dtree.fit(X_train,y_train)
print(dtree)

# Predict
y_pred_dtree = dtree.predict(X_test)

# Score It
from sklearn import metrics
print('\nDecision Tree Regression Performance Metrics')
print('R^2=',metrics.explained_variance_score(y_test,y_pred_dtree))
print('MAE:',metrics.mean_absolute_error(y_test,y_pred_dtree))
print('MSE:',metrics.mean_squared_error(y_test,y_pred_dtree))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,y_pred_dtree)))

DecisionTreeRegressor()

Decision Tree Regression Performance Metrics
R^2= 0.5789396261603305
MAE: 262.73211612929805
MSE: 184665.05185876222
RMSE: 429.7267176459502

In [150]:
# Fit 
# Import model
from sklearn.ensemble import RandomForestRegressor 

# Instantiate model object
rforest = RandomForestRegressor(n_estimators = 20, n_jobs = -1)

# Fit to training data
rforest = rforest.fit(X_train,y_train)
print(rforest)

# Predict
y_pred_rforest = rforest.predict(X_test)

# Score It
from sklearn import metrics
print('\nRandom Forest Regression Performance Metrics')
print('R^2 =',metrics.explained_variance_score(y_test,y_pred_rforest))
print('MAE',metrics.mean_absolute_error(y_test, y_pred_rforest))
print('MSE',metrics.mean_squared_error(y_test, y_pred_rforest))
print('RMSE',np.sqrt(metrics.mean_squared_error(y_test, y_pred_rforest)))

RandomForestRegressor(n_estimators=20, n_jobs=-1)

Random Forest Regression Performance Metrics
R^2 = 0.7850482854234526
MAE 189.07239237751287
MSE 94302.34078898198
RMSE 307.0868619608823

In [151]:
# Load test data
test_data = pd.read_csv('../input/nyc-taxi-trip-duration/train.zip')

# Test data info
test_data.info()

# Test data shape
print('shape',test_data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB
shape (1458644, 11)

In [152]:
# Convert timestamps to date objects
test_data['pickup_datetime'] = pd.to_datetime(test_data.pickup_datetime) # Pickups

# Delimit pickup_datetime variable 
test_data['pickup_date'] = test_data['pickup_datetime'].dt.date # Extract date
test_data['pickup_time'] = test_data['pickup_datetime'].dt.time # Extract time

# Additional pickup features
test_data['pickup_month'] = test_data['pickup_datetime'].dt.month # Extract month

#train_data['pickup_YYYYMM'] = train_data['pickup_datetime'].apply(lambda x: x.strftime('%Y%m')) # Extract yearmonth
test_data['pickup_hour'] = test_data['pickup_datetime'].dt.hour # Extract hour
test_data['pickup_weekday'] = test_data['pickup_datetime'].dt.dayofweek # Extract day of week

# Encode categorical variables
test_data['store_and_fwd_flag'] = test_data['store_and_fwd_flag'].map({'N':0,'Y':1})

In [153]:
# Create new matrix of features from test data
X_test= test_data[['vendor_id', 'passenger_count', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'pickup_month', 'pickup_hour',
       'pickup_weekday']]

# Feed features into random forest
y_pred= rforest.predict(X_test)


from sklearn import metrics
print('\nRandom Forest Regression Performance Metrics')
print('R^2 =',metrics.explained_variance_score(X_test,y_pred))
print('MAE',metrics.mean_absolute_error(X_test, y_pred))
print('MSE',metrics.mean_squared_error(X_test, y_pred))
print('RMSE',np.sqrt(metrics.mean_squared_error(X_test, y_pred)))

Random Forest Regression Performance Metrics

ValueError: y_true and y_pred have different number of output (9!=1)